body {
    background-color: #483D8B;
  }
  
  h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: cursive;
  }
  
  p {
    color: #FFFFFF;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
  }
  
  
  a:link, a:visited {
    background-color: #f44336;
    color: #FFFFFF;
    padding: 18px 25px;
    text-align: center;
    font-family: cursive;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: red;
  }
  